In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast

In [129]:
dish_ds = pd.read_csv('3A2M_EXTENDED.csv')

In [130]:
dish_ds.head()

,title,NER,Extended_NER,genre,label,directions
0,\t Arugula Pomegranate Salad,"[""baby spinach"", ""baby arugula"", ""pomegranate ...","['alfalfa sprouts', 'baby spinach', 'baby arug...",vegetables,4,"[""Toss together spinach and arugula, then plac..."
1,\t Black Bean And Turkey Chili,"[""olive oil"", ""yellow onion"", ""garlic"", ""groun...","['one', 'yellow onion', 'tomato paste', 'about...",sides,8,"[""Dice the onion and mince the garlic. Add the..."
2,\t Finger Lickin' Tofu Nuggets,"[""extra firm"", ""almond flour"", ""nutritional ye...","['extra firm', '2', 'coconut oil', 'almond flo...",nonveg,3,"[""Wrap the tofu in a clean tea towel and press..."
3,\t Jerk Beef Stew With Carrots And Tomatoes,"[""olive oil"", ""boneless beef chuck"", ""onion"", ...","['boneless beef chuck', '2', 'Saute', 'onion',...",vegetables,4,"[""Preheat oven to 350 degrees F."", ""Heat the o..."
4,\t Pomegranate Couscous Salad,"[""pomegranate arils"", ""whole wheat couscous"", ...","['whole wheat couscous', '10 minutes', 'lemon ...",vegetables,4,"[""Place couscous in a bowl with 11/2 cups of h..."

In [131]:
def preprocess_ingredients(row):
    ingredients = ast.literal_eval(row['Extended_NER'])
    second_ingredients = ast.literal_eval(row['NER'])
    return str(ingredients + second_ingredients)

In [132]:
dish_ds['ingredients'] = dish_ds.apply(preprocess_ingredients, axis=1)

In [133]:
dish_ds_ner_combined = dish_ds.drop(['NER', 'Extended_NER'], axis=1)

In [134]:
dish_ds_ner_combined.head()

,title,genre,label,directions,ingredients
0,\t Arugula Pomegranate Salad,vegetables,4,"[""Toss together spinach and arugula, then plac...","['alfalfa sprouts', 'baby spinach', 'baby arug..."
1,\t Black Bean And Turkey Chili,sides,8,"[""Dice the onion and mince the garlic. Add the...","['one', 'yellow onion', 'tomato paste', 'about..."
2,\t Finger Lickin' Tofu Nuggets,nonveg,3,"[""Wrap the tofu in a clean tea towel and press...","['extra firm', '2', 'coconut oil', 'almond flo..."
3,\t Jerk Beef Stew With Carrots And Tomatoes,vegetables,4,"[""Preheat oven to 350 degrees F."", ""Heat the o...","['boneless beef chuck', '2', 'Saute', 'onion',..."
4,\t Pomegranate Couscous Salad,vegetables,4,"[""Place couscous in a bowl with 11/2 cups of h...","['whole wheat couscous', '10 minutes', 'lemon ..."

In [135]:
available_ingredients = [
    "pig",
    "garlic",
    "calamansi",
    "tomato",
    "bell pepper",
    "carrot",
    "ginger",
    "chicken",
    "potato",
    "cucumber",
    "onion",
    "chili",
    "long chili",
]

def filter_ingredients(row):
    ingredients = ast.literal_eval(row['ingredients'])
    ingredients = set([ingredient.lower().strip() for ingredient in ingredients])
    return not ingredients.isdisjoint(available_ingredients)

In [136]:
mask = dish_ds_ner_combined.apply(filter_ingredients, axis=1)

In [137]:
mask.value_counts()

False    1457924
True      773219
Name: count, dtype: int64

In [138]:
dish_ds_filtered = dish_ds_ner_combined[mask]

In [139]:
dish_ds_filtered.head()

,title,genre,label,directions,ingredients
1,\t Black Bean And Turkey Chili,sides,8,"[""Dice the onion and mince the garlic. Add the...","['one', 'yellow onion', 'tomato paste', 'about..."
2,\t Finger Lickin' Tofu Nuggets,nonveg,3,"[""Wrap the tofu in a clean tea towel and press...","['extra firm', '2', 'coconut oil', 'almond flo..."
3,\t Jerk Beef Stew With Carrots And Tomatoes,vegetables,4,"[""Preheat oven to 350 degrees F."", ""Heat the o...","['boneless beef chuck', '2', 'Saute', 'onion',..."
15,Sparkrecipes Is Powered By Sparkpeople.Com T...,cereal,6,"[""Portion the turkey as soon as you get home f...","['Place', 'egg whites', 'onion', 'chedder', 'g..."
16,(Cheesy Mashed Potatoes) Recipe,vegetables,4,"[""In a large saucepan, cover potatoes and 1 wh...","['Bring', 'mixed Alpine cheeses', 'about 20 mi..."

In [140]:
def transform_list_to_string(row):
    return ';'.join(ast.literal_eval(row['ingredients']))

In [141]:
dish_ds_filtered['ingredients'] = dish_ds_filtered.apply(transform_list_to_string, axis=1)

/tmp/ipykernel_1193897/1569307633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dish_ds_filtered['ingredients'] = dish_ds_filtered.apply(transform_list_to_string, axis=1)

In [142]:
dish_ds_filtered.head()

,title,genre,label,directions,ingredients
1,\t Black Bean And Turkey Chili,sides,8,"[""Dice the onion and mince the garlic. Add the...",one;yellow onion;tomato paste;about 10 minutes...
2,\t Finger Lickin' Tofu Nuggets,nonveg,3,"[""Wrap the tofu in a clean tea towel and press...",extra firm;2;coconut oil;almond flour;nutritio...
3,\t Jerk Beef Stew With Carrots And Tomatoes,vegetables,4,"[""Preheat oven to 350 degrees F."", ""Heat the o...",boneless beef chuck;2;Saute;onion;1 hour to 1 ...
15,Sparkrecipes Is Powered By Sparkpeople.Com T...,cereal,6,"[""Portion the turkey as soon as you get home f...",Place;egg whites;onion;chedder;ground turkey;B...
16,(Cheesy Mashed Potatoes) Recipe,vegetables,4,"[""In a large saucepan, cover potatoes and 1 wh...",Bring;mixed Alpine cheeses;about 20 minutes;th...

In [143]:
genres = dish_ds_filtered['genre'].unique()
def sample_genre(genre_df):
    return genre_df.sample(n=2000, random_state=9)
genres

array(['sides', 'nonveg', 'vegetables', 'cereal', 'drinks', 'fusion',
       'fastfood', 'bakery', 'meal', 'Fusion'], dtype=object)

In [144]:
# Take 2000 of each genre and put it into a new df
dish_ds_filtered_sampled = dish_ds_filtered.groupby('genre').apply(sample_genre).reset_index(drop=True)
dish_ds_filtered_sampled.head()

/tmp/ipykernel_1193897/3486097354.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dish_ds_filtered_sampled = dish_ds_filtered.groupby('genre').apply(sample_genre).reset_index(drop=True)

,title,genre,label,directions,ingredients
0,Campsite Kielbasa,Fusion,9,Slice sausage in half lengthwise then slice sa...,red bell pepper;onion;green bell pepper;half;P...
1,Gumbo,Fusion,9,Heat bacon drippings in skillet over medium he...,1 hour;about 15 minutes;5;Dredge;onions;butter...
2,German Schnitzel,Fusion,9,First flatten meat to tenderize and make large...,garlic;mustard;salt;medium-high;fry;First;eggs...
3,Pseudo-Southwestern Quinoa,Fusion,9,First of all quinoa (pronounced \keen-wa\) is ...,ginger;serrano peppers;green onions;avocado;gr...
4,Mexican Breakfast,Fusion,9,"[""In a large skillet, heat the olive oil over ...",tomato;Add;green peppers;Serve;Cook;eggs;onion...

In [145]:
dish_ds_filtered_sampled['genre'].value_counts()

genre
Fusion        2000
bakery        2000
cereal        2000
drinks        2000
fastfood      2000
fusion        2000
meal          2000
nonveg        2000
sides         2000
vegetables    2000
Name: count, dtype: int64

In [146]:
dish_ds_filtered_sampled.to_csv('3A2M_EXTENDED_FILTERED_SAMPLED.csv', index=False)
dish_ds_filtered_sampled.to_json('3A2M_EXTENDED_FILTERED_SAMPLED.json', orient='records')